* {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    text-decoration: none;
}
ul {
    text-decoration: none;
}

header a {
    transition:all 0.5s;
}
button {
    color:black;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
    color:green;
}

.navbar .navbar-brand {
    color: rgb(12, 165, 27);
    margin: 15px;
    padding: 0;
    text-align: center;
    font-weight: 700;
}

.gallery_contrainer {
    color: white;
    font-weight: 700;
}
.gallery_items {
    display: flex;
}
.gallery_items p {
    color: white; 
}
.gallery_contrainer a {
    color: green;
}
.gallery_img {
     background-image: url(../img/banner4.jpg);
    background-size: cover;
    background-position: center;
    /* background-color:#252525; */
    height: 280px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
}
.gallery_img::before{
    content: "";
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    background-color:#252525;
    opacity: 0.5;
}
.view_contrainer {
    text-align: center;
    padding: 15px 15px;
}
.view_content p {
    color:red;
    font-size: 22px;
}
.view_content h1 {
    font-weight: 750;
}

/* View Gallery*/
.gallery_text {
    margin-bottom: 50px;
    border-radius: 30px;
}
.gallery_text img{
    border-radius: 10px;
    transform:scale(1.0);
    opacity: 0.9;
    transition: all 0.2s;
}




/* =======Footer============ */
.footer_icons ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    /* khoảng cách giữa các icon */
    list-style: none;
    /* bỏ dấu chấm đầu dòng nếu có */
    padding: 0;
    margin: 0;
}

.footer_end {
    background: #252525;
    height: 300px;
    display: flex;
    flex-direction: column;
    min-height: 400px;


}

.footer_end h6 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    padding-bottom: 30px;
    position: relative;
}

.footer_body {
    display: flex;
    margin: 0 auto;
    width: 70%;
    color: white;
    padding: 10px 10px;
}


.footer_footer {
    color: white;
    margin-top: auto;
    text-align: center;

}

.footer_list li {
    padding: 10px 0;
}

.footer_items {
    width: 25%;
    margin-left: -15px;
    padding-left: 85px;
    /* text-decoration: none; */
}
.footer_list li a {
    text-decoration: none;
    color: grey;
}
.footer_list li a:hover {
    text-decoration: underline;
    color: white;
}
