* {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}



.navbar .navbar-brand {
    color: rgb(12, 165, 27);
    margin: 15px;
    padding: 0;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}

.carousel-inner .carousel-caption {
    text-align: center;
}











/* About Us */
.about {
    text-align: center;

}

.about h4 {
    color: rgb(214, 29, 29)
}

.about h1 {
    font-weight: 700;
}

.about button {
    color: black;
    font-size: 18px;
    font-weight: 600;
}


.about {
    margin: 20px 20px;
    padding: 30px 30px;
}

/* List card */
.row {
    margin: 0 auto;
    width: 100%;
    background: rgba(183, 182, 182, 0.779);
    padding: 85px 80px;

}

.row .card {
    margin: 20px 20px;

}

.card-body {
    padding: 15px 15px;
    margin: 10px 10px;
}





/* Why choose Us */
.why {
    display: flex;
    justify-content: center;
    margin: 30px 50px;
    padding: 35px 50px;
}

.why_left img {
    height: 550px;
    width: 550px;
    border-radius: 10%;
}

.why_right {
    margin: 30px 30px;
    padding: 50px 50px;
}

.why_right h3 {
    color: rgb(211, 129, 70);
}

.why_right h1 {
    font-weight: 700;
}


.why_content li {
    font-size: 20px;
    margin: 15px 15px;
    margin-left: -50px;

}

.why_content i {
    margin: 10px 10px;
}

/* *Number */
.number {
    background: green;
    text-align: center;
    padding: 60px;
}

.number_content {
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
}

/* .number_items .number_count {
    font-size: 60px;
    color:grey;
} */

.number_items p:first-child {
    font-size: 60px;
    color: white;
}

.number_items P:last-child {
    font-size: 30px;
    color: rgb(68, 65, 65);
}

/* Our Plans */
.our {
    text-align: center;
    background: rgb(190, 190, 190);
}

.our h4 {
    color: rgb(234, 53, 53);
    font-size: 30px;
    font-weight: 500;

}

.our h1 {
    font-weight: 700;
}

.our_card {
    display: flex;
    margin: auto;
    width: 50%;
}

.card-body a {
    background: green;
}

.save_header {
    background: green;
    /* background-size:unset; */
    color: white;
    margin: 0 auto;
    padding: 10px 10px;
    line-height: 50px;
}

.save_header .save {
    background: white;
    color: green;
    font-weight: 700;
    width: 60%;
    /* height: 30%; */
    margin: auto;
    border-radius: 20px;
}

.card-text span {
    color: green;
    font-weight: 700;
    font-size: 30px;
}

.card-text1 span {
    font-weight: 700;
    font-size: 30px;
}

/* khúc này ô giữa anh chưa làm được nó full khuôn màu */



/* Better Pet Nutrition */
.better_content {
    text-align: center;
}

.better_videos {
    text-align: center;
    border-radius: 30px;
}


/* Testimonials */
.testi {
    background: rgb(206, 201, 201);
}

.testi_content {
    text-align: center;
}

.testi_content h4 {
    color: rgb(240, 41, 41);
}

.testi_content h1 {
    font-weight: 700;
}

.card_body img {
    width: 60px;
    border-radius: 20px;
}

.card_list {
    display: flex;
    margin: auto;
    width: 100%;
    /* padding: 55px 30px; */
}

.card_body .card_items {
    display: flex;
}



/* Stay Updated! */
.stay_container {
    padding: 30px 60px;
    height: 30%;
    /* background: #000; */
}

.stay_content {
    text-align: center;
}

.stay_content h1 {
    font-weight: 700;
}

.stay_input {
    text-align: center;
}

.stay_input input {
    width: 30%;
    height: 50px;
    border-radius: 10px;
    background: rgb(151, 148, 148);
}

.stay_input button {
    width: 12%;
    margin: 10px 10px;
    padding: 20px 20px;
    border-radius: 10px;
    background: rgb(12, 165, 27);
    color: white;
}


















.footer_icons ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    /* khoảng cách giữa các icon */
    list-style: none;
    /* bỏ dấu chấm đầu dòng nếu có */
    padding: 0;
    margin: 0;
}

.footer_end {
    background: #252525;
    height: 300px;
    display: flex;
    flex-direction: column;
    min-height: 400px;


}

.footer_end h6 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    padding-bottom: 30px;
    position: relative;
}

.footer_body {
    display: flex;
    margin: 0 auto;
    width: 70%;
    color: white;
    padding: 10px 10px;
}


.footer_footer {
    color: white;
    margin-top: auto;
    text-align: center;

}

.footer_list li {
    padding: 10px 0;
}

.footer_items {
    width: 25%;
    margin-left: -15px;
    padding-left: 85px;
}

